# Should always be specified at the top of the file outside of any sections
root = true

# TODO: Add one for resource script file and other Linux specific files ?

[*.{cpp,h}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
