.DS_Store
ant.properties
local.properties
.settings
*.bin
*.class
*.orig
*.so

bin/
gen/
obj/
tools/

newdc/android/libnewdc/bin/libnewdc.jar
newdc/android/libnewdc/bin/classes/com/example/newdc/JNIdc.class
newdc/android/libnewdc/bin/classes/com/example/newdc/BuildConfig.class

shell/android/assets/build
