[submodule "3rdparty/gtest"]
	path = 3rdparty/gtest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/fmt/fmt"]
	path = 3rdparty/fmt/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/wil"]
	path = 3rdparty/wil
	url = https://github.com/microsoft/wil.git
	branch = master
[submodule "3rdparty/rapidyaml/rapidyaml"]
	path = 3rdparty/rapidyaml/rapidyaml
	url = https://github.com/biojppm/rapidyaml.git
	branch = master
[submodule "3rdparty/glslang/glslang"]
	path = 3rdparty/glslang/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "3rdparty/vulkan-headers"]
	path = 3rdparty/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "3rdparty/zstd/zstd"]
	path = 3rdparty/zstd/zstd
	url = https://github.com/facebook/zstd.git
[submodule "3rdparty/libwebp/libwebp"]
	path = 3rdparty/libwebp/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "3rdparty/xz/xz"]
	path = 3rdparty/xz/xz
	url = https://github.com/tukaani-project/xz.git
[submodule "3rdparty/lz4/lz4"]
	path = 3rdparty/lz4/lz4
	url = https://github.com/lz4/lz4
