<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net461" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net461" />
  <package id="CefSharp.Common" version="75.1.142" targetFramework="net461" />
  <package id="CefSharp.WinForms" version="75.1.142" targetFramework="net461" />
</packages>