Source: pcsx2.snapshot
Section: games
Priority: optional
Maintainer: Gregory Hainaut <gregory.hainaut@gmail.com>
Build-Depends: cmake (>= 2.8.5),
    debhelper (>= 8.9),
    dpkg-dev (>= 1.15.7),
    libaio-dev,
    libasound2-dev,
    libgl1-mesa-dev,
    libglu1-mesa-dev,
    libgtk2.0-dev,
    liblzma-dev,
    libpcap0.8-dev,
    libpng12-dev | libpng-dev,
    libpulse-dev,
    libsdl2-dev,
    libsoundtouch-dev,
    libwxbase3.0-dev,
    libwxgtk3.0-dev,
    libxml2-dev,
    libx11-dev,
    libx11-xcb-dev,
    locales | locales-all,
    portaudio19-dev,
    zlib1g-dev
Standards-Version: 3.9.3
Homepage: http://pcsx2.net/

Package: pcsx2-unstable
Architecture: i386
# -i686 allow to use SSE into libc6
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6-i686
# libasound => alsa plugin for pulseaudio
# libusb    => ps3 controller (and probably others)
Recommends: libasound2-plugins,
    libusb-0.1-4
Conflicts: pcsx2
Description: PlayStation 2 emulator
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.

Package: pcsx2-unstable-dbg
Section: debug
Priority: extra
Architecture: i386
Depends: ${misc:Depends}, pcsx2-unstable (= ${binary:Version})
Conflicts: pcsx2-dbg
Description: Debug symbols for PCSX2
 PCSX2 is a PlayStation 2 emulator for Windows and Linux.
 .
 WARNING: It requires a CPU with SSE2 instructions. If your CPU does not support
 this instruction set, it does not have enough horse power to run this emulator
 anyway.
 .
 This package contains the debug symbols for PCSX2.

